body {
    background-color: #f5f7fa;
  }
  
  .container {
    max-width: 600px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-group-item span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  button.delete-btn {
    background: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  